
body {

    background-color: rgba(18, 27, 36, 14);
  
  }
  
  .an{
  
    color: rgba(18, 27, 36, 14);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 200px auto;
    height: 80%;
    width: 80%;
  
  } 
  
  #cachorro {
    
    z-index: 10;
    width: 25%;
    height:auto;
    position: absolute;
    top: 56%;
    left:50%;
    transform: translate(-50%, -50%);
      
  }