body {

    background-color: rgba(18, 27, 36, 14);

}

.texto{

    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 200px auto;
  
  } 