*{
    margin: 0;
    padding: 0;
}



nav {
    
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2B1A3B;
    display: flex;
    flex-direction: row;
    padding: 5px;
}



.NavSuper {

    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
}

#NavLista {
    padding-right: 30px;
    height: 100%;
    align-items: center;
    margin-left: auto;
    display: flex;
    
}

#NavClass {
    font-family: arial;
    list-style-type: none;
    padding: 10px;
    display: flex;
    

}
.navBu {
    padding: 15px;
    color: white;
    text-decoration: none;
}

#siteDe {

    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: arial;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    margin-left: 42%;


}